body {
  color: #2D2529;
  background-color: #F6F4F5;
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 100px 550px auto;
}

#dropDownMenuDiv {
  grid-area: 1 / 1 / 2 / 2;
}

#imageSliderTitleDiv {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#imageSliderTitleContent {
  font-size: 60px;
  margin: 0px;
}

#imageSliderDiv {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  justify-content: center;
  align-items: flex-start;
}

#imageSliderContainer {
  width: 700px;
  height: 500px;
  margin: 25px;
  background: black;
}

#imageSliderCreditDiv {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-content: center;
}

#imageSliderCreditContent {
  font-size: 27px;
  height: 27px;
}

a {
  color: #2D2529;
}

a:hover {
  color: #917884;
}
