#menuContainer {
  width: 100%;
  height: 100%;
  background: lightgray;
  display: flex;
  flex-direction: row;
}

.menuTitleDiv {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuTitleContent {
  font-size: 30px;
  margin: 0px;
  cursor: default;
}

.menuItemsDiv {
  position: absolute;
  width: 150px;
}

.visible {
  display: default;
}

.notVisible {
  display: none;
}

.menuItemDiv {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemDiv:hover {
  background: lightgray;
}

.menuItemContent {
  font-size: 20px;
  height: 20px;
  cursor: default;
}